body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

content > .loading {
  text-align: center;
}

content {
  flex: 1 1 auto; /* auto fill height to push sticky to bottom */
  display: block;
  max-width: 800px;
  margin: 0px auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#list > h2 {
  margin-top: 1rem;
}


/* LIST ITEMS */
#list > a {
  display: flex;
  padding: 0.125rem;
  color: #000;
  transition: background-color 200ms;
}

#list > a:hover {
  background-color: #abdafb;
  transition: background-color 0ms;
}

#list > a > i {
  font-style: normal;
}

#list > a > i:nth-child(1) {   /* index */
  padding-right: 0.5rem;
}

#list > a > i:nth-child(2) { /* title */
  flex: 1 1 auto;
  font-size: 14px;
}

#page {
  display: none;
}

.show-content > #page {
  display: block;
}

.show-content > #list {
  display: none;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgba(230, 230, 230, 0.96);
}

footer > * {
  cursor: pointer;
  padding: 0.5rem;
}

footer > input {
  border: none;
  width: 60px;
  padding: 0.125rem 0px 0.125rem 0.3rem;
}

/* Chrome fix */
footer > #index::-webkit-inner-spin-button,
footer > #index::-webkit-outer-spin-button {
   opacity: 1;
}

footer > .page {
  text-decoration: underline;
}

.show-content > footer > .page {
  text-decoration: none;
}

.show-content > footer > .list {
  text-decoration: underline;
}

footer > #search,
footer > #search-icon {
  display: none;
}

footer > #search {
  width: 200px;
  margin-left: 1rem;
}

footer > #search-icon {
  transform: translateX(-2rem);
}
